<%- include('./partials/header') %>

                <!-- Container -->
                    <main class="ms-container">
                        <!-- Hero area -->
                        <%- include('./partials/container') %>
                        <!-- /Hero area -->

                        <!-- /Works Grid -->
                            <section class="ms-section">

                                <div class="ms-section__block ms-grid">
                                <div class="col-md-1 col-xs-12 grid-sizer"></div>

                                    <!-- Post Item -->
                                        <div class="grid-item anime-item artcile-item col-md-12 col-xs-12">
                                            <a href="post-single-page.html" class="box artcile-image" data-type="page-transition">
                                                <div class="box-cover">
                                                    <div class="box-img" style="background-image: url(assets/images/blog/pl-wide.jpg)"></div>
                                                    <div class="box-overlay"></div>
                                                </div>
                                            </a>
                                            <div class="article-content">
                                                <div class="box-inner">
                                                    <span class="box-inner__cat">category</span>
                                                    <h4 class="box-inner__title">Title</h4>
                                                </div>
                                                <div class="article-date">
                                                    <time datetime="2018-03-06 19:00">6/03/2018</time>
                                                </div>
                                            </div>
                                            <a href="#" class="box-inner_link">read<i class="material-icons">keyboard_arrow_right</i></a>
                                        </div>
                                    <!-- /Post Item -->

                                    <!-- Post Item -->
                                        <div class="grid-item anime-item artcile-item col-md-12 col-xs-12">
                                            <a href="post-single-page.html" class="box artcile-image" data-type="page-transition">
                                                <div class="box-cover">
                                                    <div class="box-img" style="background-image: url(assets/images/blog/pl-wide.jpg)"></div>
                                                    <div class="box-overlay"></div>
                                                </div>
                                            </a>
                                            <div class="article-content">
                                                <div class="box-inner">
                                                    <span class="box-inner__cat">category</span>
                                                    <h4 class="box-inner__title">Title</h4>
                                                </div>
                                                <div class="article-date">
                                                    <time datetime="2018-03-06 19:00">6/03/2018</time>
                                                </div>
                                            </div>
                                            <a href="#" class="box-inner_link">read<i class="material-icons">keyboard_arrow_right</i></a>
                                        </div>
                                    <!-- /Post Item -->

                                    <!-- Post Item -->
                                        <div class="grid-item anime-item artcile-item col-md-12 col-xs-12">
                                            <a href="post-single-page.html" class="box artcile-image" data-type="page-transition">
                                                <div class="box-cover">
                                                    <div class="box-img" style="background-image: url(assets/images/blog/pl-wide.jpg)"></div>
                                                    <div class="box-overlay"></div>
                                                </div>
                                            </a>
                                            <div class="article-content">
                                                <div class="box-inner">
                                                    <span class="box-inner__cat">category</span>
                                                    <h4 class="box-inner__title">Title</h4>
                                                </div>
                                                <div class="article-date">
                                                    <time datetime="2018-03-06 19:00">6/03/2018</time>
                                                </div>
                                            </div>
                                            <a href="#" class="box-inner_link">read<i class="material-icons">keyboard_arrow_right</i></a>
                                        </div>
                                    <!-- /Post Item -->

                                    <!-- Post Item -->
                                        <div class="grid-item anime-item artcile-item col-md-12 col-xs-12">
                                            <a href="post-single-page.html" class="box artcile-image" data-type="page-transition">
                                                <div class="box-cover">
                                                    <div class="box-img" style="background-image: url(assets/images/blog/pl-wide.jpg)"></div>
                                                    <div class="box-overlay"></div>
                                                </div>
                                            </a>
                                            <div class="article-content">
                                                <div class="box-inner">
                                                    <span class="box-inner__cat">category</span>
                                                    <h4 class="box-inner__title">Title</h4>
                                                </div>
                                                <div class="article-date">
                                                    <time datetime="2018-03-06 19:00">6/03/2018</time>
                                                </div>
                                            </div>
                                            <a href="#" class="box-inner_link">read<i class="material-icons">keyboard_arrow_right</i></a>
                                        </div>
                                    <!-- /Post Item -->

                                </div>

                                <!-- Pagination -->
                                    <div class="ms-section__block">
                                        <ul class="ms-pagination">
                                            <li>
                                                <a href="#">
                                                    <span class="ms-btn__icon"><i class="material-icons">keyboard_arrow_left</i></span>
                                                </a>
                                            </li>
                                            <li><a href="#" class="ms-btn active">1</a></li>
                                            <li><a href="#" class="ms-btn">2</a></li>
                                            <li><a href="#" class="ms-btn">3</a></li>
                                            <li><a href="#" class="ms-btn">4</a></li>
                                            <li><a href="#">
                                                <span class="ms-btn__icon">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                <!-- /Pagination -->

                            </section>
                        <!-- /Works Grid -->

                        <!-- Back to top button -->
                        <a href="#" class="back-top"><i class="material-icons">arrow_upward</i></a>
                    </main>
                <!-- /Container --> 

                <!-- Footer -->
                    <footer class="ms-footer">
                        <ul class="footer-socials">
                            <li><a href="#" class="ms-btn" target="_blank">dribbble</a></li>
                            <li><a href="#" class="ms-btn" target="_blank">behance</a></li>
                            <li><a href="#" class="ms-btn" target="_blank">instagram</a></li>
                        </ul>
                        <div class="copyright">2018 © MadSparrow</div>
                    </footer>
                <!-- /Footer -->

            </div>
        <!-- /Wrapper -->
    <!-- JS -->
    <!-- jquery-2.1.3.min js -->
        <script src='assets/js/jquery-3.2.1.min.js'></script>
    <!-- Plugins -->
        <script src='assets/js/plugins.min.js'></script>       
    <!-- Main js -->
        <script src="assets/js/main.js"></script>
    </body>
</html>