<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="" />
        <meta name="description" content="Honor - Creative Portfolio HTML Template" />
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets/images/ico/favicon-16x16.png"/>
        <link rel="icon" type="image/png" href="assets/images/ico/favicon-32x32.png"/>
        <link rel="icon" type="image/png" href="assets/images/ico/favicon-96x96.png"/>
        <!-- Page Title -->
        <title>Honor - Creative Portfolio HTML Template</title>
        <!-- Plugins -->
        <link rel="stylesheet" href="assets/css/plugins.min.css">
        <!-- Custom css file -->
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="ms-preloader"></div>
        <!-- Wrapper -->
            <div class="ms-main-container">

                <!-- Header -->
                    <header class="ms-header">
                        <nav class="ms-nav">
                            <div class="ms-logo">
                                <a href="index.html" data-type="page-transition">
                                    <img src="assets/images/h-logo.svg" alt="logo">
                                </a>
                            </div>
                            <!-- Mobile Menu Button -->
                                <button class="nav__btn">
                                    <span class="burger">
                                        <span class="burger__line"></span>
                                        <span class="burger__line"></span>
                                        <span class="burger__line"></span>
                                    </span>
                                    <span class="cross">
                                        <span class="cross__line"></span>
                                        <span class="cross__line"></span>
                                    </span>
                                </button>
                            <!-- Mobile Menu Button -->
                            <ul class="ms-navbar">
                                <li class="ms-nav-item link">
                                    <a href="#">Portfolio</a>
                                    <ul class="ms-submenu">
                                        <li class="ms-nav-item link">
                                            <a href="index.html" data-type="page-transition">Works grid</a>
                                        </li>
                                        <li class="ms-nav-item link">
                                            <a href="work-single-page.html" data-type="page-transition">Simple images</a>
                                        </li>
                                        <li class="ms-nav-item link">
                                            <a href="gallery.html" data-type="page-transition">Gallery</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="ms-nav-item link">
                                    <a href="blog" data-type="page-transition">Blog</a>
                                </li>
                                <li class="ms-nav-item link active">
                                    <a href="about" data-type="page-transition">About</a>
                                </li>
                                <li class="ms-nav-item link">
                                    <a href="contact" data-type="page-transition">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </header>
                <!-- /Header -->

                <!-- Container -->
                    <main class="ms-container">

                        <!-- Hero area -->
                            <div class="ms-hero">
                                <div class="ms-hero__caption">
                                    <div class="ms-hero__title">
                                        <h1>Who we are</h1>
                                        <p class="ms-hero__subtitle">Continually productize excellent technology vis-a-vis holistic solutions. </p>
                                    </div>
                                </div>
                            </div>
                        <!-- /Hero area -->

                        <!-- About Content -->
                            <div class="ms-section">

                                <div class="ms-section__block about__content">
                                    <img src="assets/images/blog/pl-wide.jpg" alt="img">
                                    <p>Nulla sed mi leo, sit amet molestie nulla. Phasellus lobortis blandit ipsum, at adipiscing eros porta quis. Phasellus in nisi ipsum, quis dapibus magna. Phasellus odio dolor, pretium sit amet aliquam a, gravida eget dui. Pellentesque eu ipsum et quam faucibus scelerisque vitae ut ligula. Ut luctus fermentum commodo. Mauris eget justo turpis, eget fringilla mi. Duis lobortis cursus mi vel <a href="#">tristique</a>. Maecenas eu lorem hendrerit neque dapibus cursus id sit amet nisi. Proin rhoncus semper sem nec aliquet.</p>
                                    <p>Conveniently pontificate extensive platforms rather than user friendly ROI. Competently underwhelm seamless users through accurate data. Appropriately engineer extensive markets with corporate expertise. Globally implement performance based e-markets rather than cooperative schemas. Uniquely impact world-class imperatives through functionalized outsourcing.</p>
                                </div>
                                <div class="ms-section__block">
                                    <header>
                                        <h3>Services</h3>
                                        <p>Globally implement performance based e-markets.</p>
                                    </header>
                                    <div class="services-list row">
                                        <ul class="col-md-3">
                                            <li><h6>Web design</h6></li>
                                            <li>User experience</li>
                                            <li>Page layout</li>
                                            <li>Typography</li>
                                            <li>Icons</li>
                                        </ul>
                                        <ul class="col-md-3">
                                            <li><h6>Web development</h6></li>
                                            <li>HTML5</li>
                                            <li>Javascript</li>
                                            <li>CSS</li>
                                            <li>WebGL</li>
                                        </ul>
                                        <ul class="col-md-3">
                                            <li><h6>Digital marketing</h6></li>
                                            <li>Social media</li>
                                            <li>Search engine</li>
                                            <li>Analytics</li>
                                            <li>Automation</li>
                                            <li>Ecommerce</li>
                                        </ul>
                                        <ul class="col-md-3">
                                            <li><h6>Visual communication</h6></li>
                                            <li>Art direction</li>
                                            <li>Graphic design</li>
                                            <li>llustration</li>
                                            <li>Branding</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="contrast-bg__grey">
                                    <div class="ms-section__block">
                                        <header>
                                            <h3>Our clients</h3>
                                            <p>Globally implement performance based e-markets.</p>
                                        </header>
                                        <ul class="ms-clients__grid row">
                                            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                                                <div class="client-logo">
                                                    <img src="assets/images/clients/c3.png" alt="client-logo">
                                                </div>
                                            </li>
                                            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                                                <div class="client-logo">
                                                    <img src="assets/images/clients/c3.png" alt="client-logo">
                                                </div>
                                            </li>
                                            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                                                <div class="client-logo">
                                                    <img src="assets/images/clients/c3.png" alt="client-logo">
                                                </div>
                                            </li>
                                            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                                                <div class="client-logo">
                                                    <img src="assets/images/clients/c3.png" alt="client-logo">
                                                </div>
                                            </li>
                                            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                                                <div class="client-logo">
                                                    <img src="assets/images/clients/c3.png" alt="client-logo">
                                                </div>
                                            </li>
                                            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                                                <div class="client-logo">
                                                    <img src="assets/images/clients/c3.png" alt="client-logo">
                                                </div>
                                            </li>
                                            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                                                <div class="client-logo">
                                                    <img src="assets/images/clients/c3.png" alt="client-logo">
                                                </div>
                                            </li>
                                            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                                                <div class="client-logo">
                                                    <img src="assets/images/clients/c3.png" alt="client-logo">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ms-section__block">
                                    <header>
                                        <h3>Testimonials from our customers</h3>
                                    </header>
                                    <div class="ms-testimonials__list swiper-container">
                                        <ul class="swiper-wrapper">
                                            <li class="testimonial-item swiper-slide">
                                                <p>"I STRONGLY recommend design to EVERYONE interested in running a successful online business! Design is both attractive and highly adaptable. Thank You!"</p>
                                                <span class="testimonial-author">- Benjie U.</span>
                                            </li>
                                            <li class="testimonial-item swiper-slide">
                                                <p>"I just can't get enough of design. I want to get a T-Shirt with design on it so I can show it off to everyone. I am so pleased with this product. Dude, your stuff is the bomb!"</p>
                                                <span class="testimonial-author">- Harold W.</span>
                                            </li>
                                            <li class="testimonial-item swiper-slide">
                                                <p>"I would gladly pay over 600 dollars for design. This is simply unbelievable!"</p>
                                                <span class="testimonial-author">- Cornelle Y.</span>
                                            </li>
                                        </ul>
                                        <ul class="ms-pagination">
                                            <li class="slider-prev">
                                                <span class="ms-btn__icon">
                                                    <i class="material-icons">keyboard_arrow_left</i>
                                                </span>
                                            </li>
                                            <li class="slider-pagination"></li>
                                            <li class="slider-next">
                                                <span class="ms-btn__icon">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                </span>
                                            </li>
                                        </ul>                                      
                                    </div>
                                </div>
                                <div class="contrast-bg__black">
                                    <div class="ms-section__block go-to-contacts">
                                        <header>
                                            <h3>We are here to help you!</h3>
                                            <p>Quickly unleash ubiquitous networks whereas unique content. Conveniently pontificate B2C web services whereas reliable testing procedures.</p>
                                            <br>
                                            <a href="contact.html" class="ms-btn__square" data-type="page-transition">Get in touch</a>
                                        </header>
                                    </div>
                                </div>
                            </div>
                        <!-- /About Content -->

                        <!-- Back to top button -->
                        <a href="#" class="back-top"><i class="material-icons">arrow_upward</i></a>
                    </main>
                <!-- /Container -->

                <!-- Footer -->
                    <footer class="ms-footer">
                        <ul class="footer-socials">
                            <li><a href="#" class="ms-btn" target="_blank">dribbble</a></li>
                            <li><a href="#" class="ms-btn" target="_blank">behance</a></li>
                            <li><a href="#" class="ms-btn" target="_blank">instagram</a></li>
                        </ul>
                        <div class="copyright">2018 © MadSparrow</div>
                    </footer>
                <!-- /Footer -->

            </div>
        <!-- /Wrapper -->
    <!-- JS -->
    <!-- jquery-2.1.3.min js -->
        <script src='assets/js/jquery-3.2.1.min.js'></script>
    <!-- Plugins -->
        <script src='assets/js/plugins.min.js'></script>       
    <!-- Main js -->
        <script src="assets/js/main.js"></script>
    </body>
</html>