<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="" />
        <meta name="description" content="Honor - Creative Portfolio HTML Template" />
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets/images/ico/favicon-16x16.png"/>
        <link rel="icon" type="image/png" href="assets/images/ico/favicon-32x32.png"/>
        <link rel="icon" type="image/png" href="assets/images/ico/favicon-96x96.png"/>
        <!-- Page Title -->
        <title>Honor - Creative Portfolio HTML Template</title>
        <!-- Plugins -->
        <link rel="stylesheet" href="assets/css/plugins.min.css">
        <!-- Custom css file -->
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="ms-preloader"></div>
        <!-- Wrapper -->
            <div class="ms-main-container">

                <!-- Header -->
                    <header class="ms-header">
                        <nav class="ms-nav">
                            <div class="ms-logo">
                                <a href="index.html" data-type="page-transition">
                                    <img src="assets/images/h-logo.svg" alt="logo">
                                </a>
                            </div>
                            <!-- Mobile Menu Button -->
                                <button class="nav__btn">
                                    <span class="burger">
                                        <span class="burger__line"></span>
                                        <span class="burger__line"></span>
                                        <span class="burger__line"></span>
                                    </span>
                                    <span class="cross">
                                        <span class="cross__line"></span>
                                        <span class="cross__line"></span>
                                    </span>
                                </button>
                            <!-- Mobile Menu Button -->
                            <ul class="ms-navbar">
                                <li class="ms-nav-item link">
                                    <a href="#">Portfolio</a>
                                    <ul class="ms-submenu">
                                        <li class="ms-nav-item link">
                                            <a href="index.html" data-type="page-transition">Works grid</a>
                                        </li>
                                        <li class="ms-nav-item link">
                                            <a href="work-single-page.html" data-type="page-transition">Simple images</a>
                                        </li>
                                        <li class="ms-nav-item link">
                                            <a href="gallery.html" data-type="page-transition">Gallery</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="ms-nav-item link">
                                    <a href="blog" data-type="page-transition">Blog</a>
                                </li>
                                <li class="ms-nav-item link">
                                    <a href="about" data-type="page-transition">About</a>
                                </li>
                                <li class="ms-nav-item link active">
                                    <a href="contact" data-type="page-transition">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </header>
                <!-- /Header -->

                <!-- Container -->
                    <main class="ms-container">
                        <!-- Hero area -->
                            <div class="ms-hero">
                                <div class="ms-hero__caption">
                                    <div class="ms-hero__title">
                                        <h1>Let's work together</h1>
                                        <p class="ms-hero__subtitle">Continually productize excellent technology vis-a-vis holistic solutions. </p>
                                    </div>
                                </div>
                            </div>
                        <!-- /Hero area -->

                        <!-- Contact -->
                            <section class="ms-section">
                                <div class="ms-section__block">
                                    <div id="contact" class="row">
                                        <div class="c-info col-md-3">
                                            <h6>the office</h6>
                                            <p>25 Parker St. London WC2B 5PJ UK</p>
                                        </div>
                                        <div class="c-info col-md-3">
                                            <h6>telephone</h6>
                                            <p>+44 (0)20 7830 1387</p>
                                        </div>
                                        <div class="c-info col-md-3">
                                            <h6>email</h6>
                                            <p>test@mail.com</p>
                                        </div>
                                        <div class="c-info col-md-3">
                                            <h6>social</h6>
                                            <ul class="cs-list">
                                                <li><a href="#" class="socicon-facebook ms-btn"></a></li>
                                                <li><a href="#" class="socicon-instagram ms-btn"></a></li>
                                                <li><a href="#" class="socicon-twitter ms-btn"></a></li>
                                            </ul>
                                        </div>
                                        <div class="contact-form col-md-8">
                                            <h6>Get in touch</h6>
                                            <br>
                                            <form id="validForm">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <input type="text" name="name" class="form-control" id="cl" placeholder="Your name" autocomplete="off">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <input type="email" name="email" class="form-control" placeholder="Email address" autocomplete="off">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <input type="text" name="subject" class="form-control" placeholder="Subject">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <textarea name="message" class="form-control" id="message" placeholder="Your message"></textarea>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="ms-btn__square">
                                                          <input type="submit" value="Send">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        <!-- /Contact -->

                        <!-- Back to top button -->
                        <a href="#" class="back-top"><i class="material-icons">arrow_upward</i></a>
                    </main>
                <!-- /Container -->

                <!-- Footer -->
                    <footer class="ms-footer">
                        <ul class="footer-socials">
                            <li><a href="#" class="ms-btn" target="_blank">dribbble</a></li>
                            <li><a href="#" class="ms-btn" target="_blank">behance</a></li>
                            <li><a href="#" class="ms-btn" target="_blank">instagram</a></li>
                        </ul>
                        <div class="copyright">2018 © MadSparrow</div>
                    </footer>
                <!-- /Footer -->

            </div>
        <!-- /Wrapper -->
    <!-- JS -->
    <!-- jquery-2.1.3.min js -->
        <script src='assets/js/jquery-3.2.1.min.js'></script>
    <!-- Plugins -->
        <script src='assets/js/plugins.min.js'></script>       
    <!-- Main js -->
        <script src="assets/js/main.js"></script>
    </body>
</html>