<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="" />
        <meta name="description" content="Honor - Creative Portfolio HTML Template" />
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets/images/ico/favicon-16x16.png"/>
        <link rel="icon" type="image/png" href="assets/images/ico/favicon-32x32.png"/>
        <link rel="icon" type="image/png" href="assets/images/ico/favicon-96x96.png"/>
        <!-- Page Title -->
        <title>Honor - Creative Portfolio HTML Template</title>
        <!-- Plugins -->
        <link rel="stylesheet" href="assets/css/plugins.min.css">
        <!-- Custom css file -->
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="ms-preloader"></div>
        <!-- Wrapper -->
            <div class="ms-main-container">

                <!-- Header -->
                    <header class="ms-header">
                        <nav class="ms-nav">
                            <div class="ms-logo">
                                <a href="index.html" data-type="page-transition">
                                    <img src="assets/images/h-logo.svg" alt="logo">
                                </a>
                            </div>
                            <!-- Mobile Menu Button -->
                                <button class="nav__btn">
                                    <span class="burger">
                                        <span class="burger__line"></span>
                                        <span class="burger__line"></span>
                                        <span class="burger__line"></span>
                                    </span>
                                    <span class="cross">
                                        <span class="cross__line"></span>
                                        <span class="cross__line"></span>
                                    </span>
                                </button>
                            <!-- Mobile Menu Button -->
                            <ul class="ms-navbar">
                                <li class="ms-nav-item link active">
                                    <a href="#">Portfolio</a>
                                    <ul class="ms-submenu">
                                        <li class="ms-nav-item link">
                                            <a href="index.html" data-type="page-transition">Works grid</a>
                                        </li>
                                        <li class="ms-nav-item link">
                                            <a href="work-single-page.html" data-type="page-transition">Simple images</a>
                                        </li>
                                        <li class="ms-nav-item link">
                                            <a href="gallery.html" data-type="page-transition">Gallery</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="ms-nav-item link">
                                    <a href="blog" data-type="page-transition">Blog</a>
                                </li>
                                <li class="ms-nav-item link">
                                    <a href="about" data-type="page-transition">About</a>
                                </li>
                                <li class="ms-nav-item link">
                                    <a href="contact" data-type="page-transition">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </header>
                <!-- /Header -->

                <!-- Container -->
                    <main class="ms-container">

                        <!-- Hero area -->
                            <div class="ms-hero">
                                <div class="ms-hero__caption">
                                    <div class="ms-hero__title">
                                        <h1>Creative services<br> for creative people.</h1>
                                        <p class="ms-hero__subtitle">Continually productize excellent technology vis-a-vis holistic solutions. </p>
                                    </div>
                                </div>
                            </div>
                        <!-- /Hero area -->

                        <!-- Works Grid -->
                            <section class="ms-section">

                            <!-- Sort -->
                                <ul class="filtr-btn">
                                    <li data-filter="*" class="active"><h6 class="ms-btn">all</h6></li>
                                    <li data-filter=".design"><h6 class="ms-btn">design</h6></li>
                                    <li data-filter=".art"><h6 class="ms-btn">art</h6></li>
                                    <li data-filter=".development"><h6 class="ms-btn">development</h6></li>
                                </ul>
                            <!-- /Sort -->
                            
                            <!-- Grid -->
                                <div class="ms-section__block ms-grid">
                                <div class="col-md-1 col-xs-12 grid-sizer"></div>

                                <!-- Work Item -->
                                    <div class="grid-item anime-item work-item col-md-6 col-xs-12 design">
                                        <a href="work-single-page.html" class="box work-image" data-type="page-transition">
                                            <div class="box-cover">
                                                <div class="box-img" style="background-image: url(assets/images/works/pl-md.jpg)"></div>
                                                <div class="box-hover"></div>
                                            </div>
                                        </a>
                                        <a href="work-single-page.html" data-type="page-transition">
                                            <div class="work-info">
                                                <div class="box-inner">
                                                    <span class="box-inner__cat">category</span>
                                                    <h4 class="box-inner__title">Title</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                <!-- /Work Item -->

                                <!-- Work Item -->
                                    <div class="grid-item anime-item work-item col-md-6 col-xs-12 art">
                                        <a href="work-single-page.html" class="box work-image" data-type="page-transition">
                                            <div class="box-cover">
                                                <div class="box-img" style="background-image: url(assets/images/works/pl-md.jpg)"></div>
                                                <div class="box-hover"></div>
                                            </div>
                                        </a>
                                        <a href="work-single-page.html" data-type="page-transition">
                                            <div class="work-info">
                                                <div class="box-inner">
                                                    <span class="box-inner__cat">category</span>
                                                    <h4 class="box-inner__title">Title</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                <!-- /Work Item -->

                                <!-- Work Item -->
                                    <div class="grid-item anime-item work-item col-md-6 col-xs-12 development">
                                        <a href="work-single-page.html" class="box work-image" data-type="page-transition">
                                            <div class="box-cover">
                                                <div class="box-img" style="background-image: url(assets/images/works/pl-md.jpg)"></div>
                                                <div class="box-hover"></div>
                                            </div>
                                        </a>
                                        <a href="work-single-page.html" data-type="page-transition">
                                            <div class="work-info">
                                                <div class="box-inner">
                                                    <span class="box-inner__cat">category</span>
                                                    <h4 class="box-inner__title">Title</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                <!-- /Work Item -->

                                <!-- Work Item -->
                                    <div class="grid-item anime-item work-item col-md-6 col-xs-12 design">
                                        <a href="work-single-page.html" class="box work-image" data-type="page-transition">
                                            <div class="box-cover">
                                                <div class="box-img" style="background-image: url(assets/images/works/pl-md.jpg)"></div>
                                                <div class="box-hover"></div>
                                            </div>
                                        </a>
                                        <a href="work-single-page.html" data-type="page-transition">
                                            <div class="work-info">
                                                <div class="box-inner">
                                                    <span class="box-inner__cat">category</span>
                                                    <h4 class="box-inner__title">Title</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                <!-- /Work Item -->

                                <!-- Work Item -->
                                    <div class="grid-item anime-item work-item col-md-6 col-xs-12 art">
                                        <a href="work-single-page.html" class="box work-image" data-type="page-transition">
                                            <div class="box-cover">
                                                <div class="box-img" style="background-image: url(assets/images/works/pl-md.jpg)"></div>
                                                <div class="box-hover"></div>
                                            </div>
                                        </a>
                                        <a href="work-single-page.html" data-type="page-transition">
                                            <div class="work-info">
                                                <div class="box-inner">
                                                    <span class="box-inner__cat">category</span>
                                                    <h4 class="box-inner__title">Title</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                <!-- /Work Item -->

                                <!-- Work Item -->
                                    <div class="grid-item anime-item work-item col-md-6 col-xs-12 development">
                                        <a href="work-single-page.html" class="box work-image" data-type="page-transition">
                                            <div class="box-cover">
                                                <div class="box-img" style="background-image: url(assets/images/works/pl-md.jpg)"></div>
                                                <div class="box-hover"></div>
                                            </div>
                                        </a>
                                        <a href="work-single-page.html" data-type="page-transition">
                                            <div class="work-info">
                                                <div class="box-inner">
                                                    <span class="box-inner__cat">category</span>
                                                    <h4 class="box-inner__title">Title</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                <!-- /Work Item -->

                                </div>
                            <!-- Grid -->
                            <div class="ms-section__block ms-align-center">
                                <a href="#" class="ms-btn__square" data-type="page-transition">load more</a>
                            </div>
                            </section>
                        <!-- /Works Grid -->

                        <!-- Back to top button -->
                        <a href="#" class="back-top"><i class="material-icons">arrow_upward</i></a>
                    </main>
                <!-- /Container --> 

                <!-- Footer -->
                    <footer class="ms-footer">
                        <ul class="footer-socials">
                            <li><a href="#" class="ms-btn" target="_blank">dribbble</a></li>
                            <li><a href="#" class="ms-btn" target="_blank">behance</a></li>
                            <li><a href="#" class="ms-btn" target="_blank">instagram</a></li>
                        </ul>
                        <div class="copyright">2018 © MadSparrow</div>
                    </footer>
                <!-- /Footer -->

            </div>
        <!-- /Wrapper -->
    <!-- JS -->
    <!-- jquery-2.1.3.min js -->
        <script src='assets/js/jquery-3.2.1.min.js'></script>
    <!-- Plugins -->
        <script src='assets/js/plugins.min.js'></script>       
    <!-- Main js -->
        <script src="assets/js/main.js"></script>
    </body>
</html>