<div class="ms-hero">
    <div class="ms-hero__caption">
        <div class="ms-hero__title">
            <h1>Dang Dat Tran<br> Portfolio website</h1>
            <p class="ms-hero__subtitle">Testing NodeJS and EJS </p>
        </div>
    </div>
</div>